.container-contact{
    overflow: initial !important;
    margin-left: 5%;
    margin-right: 5%;
}

.contact-box {
	width: 120px !important;
	height: 30px;
	background-image: linear-gradient(to bottom right, #0275d8, #5bc0de);
	color: #fff;
	position: relative !important;
	align-items: center !important;
	border-radius: 500px;
	font-weight: 700;
  margin-left: 30px;
  padding-top: 0.2%;
  }
  .contact-box.contact-arrow-bottom:after {
	content: " ";
	position: absolute;
	right: 30px;
	bottom: -10px;
	border-top: 10px solid #5bc0de;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: none;
  }


